<template>
    <div>
        <!-- Heading Starts Here -->
        <div class="page-heading header-text">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <img src="src/img/404.png" class="img-404">
                <h4 class="mini-text">{{pageData}}</h4>
            </div>
            </div>
        </div>
        </div>
        <!-- Heading Ends Here -->
    </div>
</template>
<script>
export default {
    name: 'Vuesite404',
    data() {
        return {
            pageData: 'Səhifə tapılmadı'
        };
    }
};
// if page not found divert to 404
const url = window.location.href.split("8080")[1];
const list_url = ["/", "/aboutus", "/user", "/topics", "/contact", "/admin", "/admin/login"];
console.log('loc: \t' + url);
if (url != "/404" && !list_url.includes(url)){
    window.location.href = "/404";
}
// if page not found divert to 404
</script>