<template>
    <div>
        
        <!-- Page Content -->
        <!-- Heading Starts Here -->
        <div class="page-heading header-text">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <h1>Contact Us</h1>
                <p><a href="index.html">Home</a> / <span>Contact Us</span></p>
            </div>
            </div>
        </div>
        </div>
        <!-- Heading Ends Here -->


        <!-- Contact Us Starts Here -->
        <div class="contact-us">
        <div class="container">
            <div class="row">
            <div class="col-md-6">
                <div class="contact-form">
                <form id="contact" action="" method="post">
                    <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <fieldset>
                        <input name="name" type="text" id="name" placeholder="Your name" required="">
                        </fieldset>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <fieldset>
                        <input name="email" type="text" id="email" placeholder="Your email" required="">
                        </fieldset>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <fieldset>
                        <input name="subject" type="text" id="subject" placeholder="Subject">
                        </fieldset>
                    </div>
                    <div class="col-lg-12">
                        <fieldset>
                        <textarea name="message" rows="6" id="message" placeholder="Your message" required=""></textarea>
                        </fieldset>
                    </div>
                    <div class="col-lg-12">
                        <fieldset>
                        <button type="submit" id="form-submit" class="main-button">Send Message</button>
                        </fieldset>
                    </div>
                    </div>
                </form>
            </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                <div class="section-heading">
                    <span>Contact Us</span>
                    <h2>Let's keep in touch</h2>
                    <p>Quisque sagittis blandit sapien et elementum. Fusce pretium viverra consequat. Aliquam at feugiat mi. Pellentesque hendrerit, felis ac sodales commodo.</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                    <ul>
                        <li><i class="fa fa-phone"></i> 010-020-0560</li>
                        <li><i class="fa fa-support"></i> support@company.com</li>
                    </ul>
                    </div>
                    <div class="col-md-6 col-sm-12">
                    <ul>
                        <li><i class="fa fa-envelope"></i> contact@company.com</li>
                        <li><i class="fa fa-globe"></i> www.company.com</li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- Contact Us Ends Here -->


        <!-- Map Starts Here -->
        <div id="map">
        
    <!-- How to change your own map point
        1. Go to Google Maps
        2. Click on your location point
        3. Click "Share" and choose "Embed map" tab
        4. Copy only URL and paste it within the src="" field below
    -->
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d920.8342289282875!2d49.97280454564498!3d40.40356262338042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4030637690e537b3%3A0x324a6f54e8c42e36!2sAraz%20Cenub%20Supermarket!5e0!3m2!1saz!2s!4v1636790894892!5m2!1saz!2s" width="100%" height="520" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <!-- Map Ends Here -->

    </div>
</template>
<script>
export default {
    name: 'VuesiteContact'
};
</script>