<template>
    <div>
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Host <em>Cloud</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item" v-bind:class="{active: this.$router.history.current.path == '/'}">
                <a class="nav-link" href="/">Baş səhifəs
                  <!-- <span class="sr-only" v-if="this.$router.history.current.path == '/'">(current)</span> -->
                </a>
              </li>
              <li class="nav-item" v-bind:class="{active: this.$router.history.current.path == '/aboutus'}">
                <a class="nav-link" href="/aboutus">Haqqımızda
                <!-- <span class="sr-only" v-if="this.$router.history.current.path == '/aboutus'">(current)</span> -->
                </a>
              </li>
              <li class="nav-item" v-bind:class="{active: this.$router.history.current.path == '/topics'}">
                <a class="nav-link" href="/topics">Fənlər
                <!-- <span class="sr-only" v-if="this.$router.history.current.path == '/topics'">(current)</span> -->
                </a>
              </li>
              <li class="nav-item" v-bind:class="{active: this.$router.history.current.path == '/contact'}">
                <a class="nav-link" href="/contact">Əlaqə
                <!-- <span class="sr-only" v-if="this.$router.history.current.path == '/contact'">(current)</span> -->
                </a>
              </li>
            </ul>
          </div>
          <div class="functional-buttons">
            <ul>
              <li><a href="#">Log in</a></li>
              <li><a href="#">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    </div>
</template>
<script>
export default {
    name: 'VuesiteHeadermenu',
//     computed: {
//     currentRouteName() {
//         return this.$route.name;
//     }
// }
};
</script>