<template>
    <div>
        <!-- ***** Preloader Start ***** -->
        <div id="preloader">
            <div class="jumper">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>  
        <!-- ***** Preloader End ***** -->
    </div>
</template>
<script>
export default {
    name: 'VuesitePreloader'
};
</script>