<template>
  <div id="app">
    <div v-if="msg">
      <preloader />
      <menu-header />
      <router-view></router-view>
      <footer-info />
      <footer-site />
    </div>
  <div v-if="!msg">
    <router-view></router-view>
  </div>
  </div>
</template>

<script>
// site side
import VuesitePreloader from './components/preloader.vue';
import VuesiteHeadermenu from './components/headerMenu.vue';
import VuesiteFooterinfo from './components/footerInfo.vue';
import VuesiteFooter from './components/footer.vue';

export default {
  name: 'app',
  data () {
    return {
      msg: true
    }
  },
  created() {
    this.dataCange();
  },
  components: {
    preloader: VuesitePreloader,
    menuHeader: VuesiteHeadermenu,
    footerInfo: VuesiteFooterinfo,
    footerSite: VuesiteFooter
  },
  methods: {
    dataCange: function(){
      if (this.$route.path.indexOf('/admin') >= 0){
        this.msg=false;
      }
      console.log('msg:\t'+this.msg+'\nrouter:\t'+this.$route.path);
    }
  }
}
</script>